<h1>
  {{title}}
</h1>
<div> {{ (af.auth | async)?.uid }} </div>
<button md-raised-button color="primary" (click)="login()">Login</button>
<div>
  <md-list>
    <md-list-item class="text" *ngFor="let item of items | async">
      <h1 md-line> {{item.$key}} </h1>
      <p md-line> {{item.$value}} </p>
    </md-list-item>
  </md-list>
</div>
<div>
  <md-checkbox></md-checkbox>
</div>
<div>
  <button md-raised-button color="primary">Click Me</button>
</div>
<div>
  <md-input placeholder="amount" align="end">
    <span md-prefix>$&nbsp;</span>
    <span md-suffix>.00</span>
  </md-input>
</div>
